@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padding-x {
    @apply px-4 md:px-12 lg:px-16;
  }
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(16rem, 16rem));
    gap: 4rem;
  }
  .custom-shadow {
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.4);
  }
}
